
 @font-face { font-style : bold; src: url("assets/fonts/publicsanslight300.ttf"); font-family : "Public Sans"; font-weight : 300;  }
 @font-face { font-style : bold; src: url("assets/fonts/opensansopensansromansemibold600.ttf"); font-family : "Open Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/publicsansmedium500.ttf"); font-family : "Public Sans"; font-weight : 500;  }